body {
	background-color: black;
}

img {
	display: block;
	margin-right: auto;
	margin-left: auto;

	width: 500px;
}

#mainCapsule {
	background-color: #CBE8F0;
	margin-top: 10px;
	margin-bottom: 20px;

	border-style: solid;
	border-radius: 10px;
	border-width: 5px;
	border-color: gray;

	display: block;
	margin-right: 100px;
	margin-left: 100px;
}


#subCapsule {
	background-color: #696969;

	
	width: 200px;
	height: 40px;
	margin-left: auto;
	margin-right: auto;
	margin-top: 0px;
	margin-bottom: 10px;

	border-style: solid;
	border-radius: 10px;
	border-width: 5px;
	border-color: gray;

	float: top;
	text-align: center;
}

h1 {
	font-size: 72px;
	font-family: "Impact";
	font-weight: 100;
	letter-spacing: 3px;
	word-spacing: 10px;

	margin-top: 10px;
	margin-bottom: 10px;
	text-align: center;

}

a {
	color: white;
}

h5 {
	text-align: center;
	font-size: 28px;
	font-family: sans-serif;
	margin-top: 0px;
}
