body {
	background-color: black;
}


h1 {
	font-size: 60px;
	color: #DADADA;
	/* background-color: gray; */
	opacity: 1;

	font-family: "Impact";
	font-weight: 100;
	letter-spacing: 5px;
	word-spacing: 15px;
	text-align: center;

	margin-top: 50px;
	margin-bottom: 50px;
	margin-right: 0px;
	margin-left: 0px;

	padding: 0px 0px 0px 0px;
}

#headings {
	font-size: 30px;
	font-style: italic;
	color: #CBE8F0;
	font-family: times;

	margin-top: 20px;
	margin-left: 40px;
	margin-bottom: 20px;
}

h2 {
	margin-left: 20px;
	margin-top: 0px;
	margin-bottom: 10px;
	font-size: 40px;
	color: white;
}

#capsule {
	background-color: #1E1E1E;
	margin-left: 40px;
	margin-right: 40px;
	margin-top: 0px;
	margin-bottom: 40px;

	border-style: solid;
	border-radius: 10px;
	border-width: 5px;
	border-color: gray;
}

#title {
	font-size: 20px;
	color: lightblue;

	margin-left: 30px;
}

#otherInfo {
	font-size: 15px;
	font-style: italic;
	color: #CCCCCC;
	font-weight: 300;

	margin-left: 60px;
}

li {
	font-size: 15px;
	font-style: italic;
	color: #CCCCCC;
	font-weight: 300;

	margin-left: 40px;
}